---
import {readableDate} from '../../js/utilities'
import fallbackImage from '../../assets/images/simple-mac-desktop-640-360.jpg'

const {post} = Astro.props
const {title, description, date, featuredImage, featuredImageAlt} = post.frontmatter
---

<style>
  .articleCard {
    margin-bottom: 1em;
    border-radius: var(--rounded-corners);
  }
  .articleCard__title {
    margin-bottom: .5em;
  }
  .articleCard__date {
    color: var(--off-white);
  }
  .articleCard__description {
    font-size: .9rem;
    margin-bottom: .75em;
  }
  @media screen and (min-width: 500px) {
    .articleCard {
      margin-bottom: unset;
      min-width: 200px;
    }
  }
</style>

<article class="articleCard">
  <a href={post.url}>
    <img class="articleCard__image card__image" src={featuredImage ? featuredImage : fallbackImage} alt={featuredImageAlt ? featuredImageAlt : "A laptop workstation"}>
  </a>
  <h3 class="articleCard__title"><a class="brand-link" href={post.url}>{title}</a></h3>
  <small class="articleCard__date">{readableDate(date)}</small>
  <p class="articleCard__description">{description}</p>
  <a class="brand-link brand-link--callout" href={post.url}>Read More</a>
</article>