---
import Base from '../layouts/Base.astro'
import AuthorFact from '../components/AuthorFact.astro'
import Resume from '../assets/adamgonzales-resume-2022.pdf'
import GitHubSection from '../components/GitHubSection.astro';
import data from '../js/techExperience.json'
import jobData from '../js/workHistory.json'

const {technologies} = data
const {jobs} = jobData.experience
---

<style>
  .in-page-nav {
    margin-bottom: 2.25em;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    text-align: center;
    gap: 1em;
  }
  
  .section--dark {
    color: var(--white);
    background-color: var(--darkness);
  }
  
  .section--dark h2 {
    color: var(--accent-color);
  }
  
  .brand-button {
    margin-bottom: 1em;
  }

  .technology__title {
    margin-bottom: .25em;
  }

  .technology__tagline {
    margin-bottom: 1.75em;
  }

  .technology__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  .technology__item {
    margin-bottom: 1em;
    text-align: center;
    font-size: .9em;
    width: 50%;
    height: 125px;
  }
  
  .technology__image {
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    height: 4.5rem;
  }
  
  .technology__image + span {
    font-size: 1rem;
  }
  
  @media screen and (min-width: 600px) {
    .technology__item {
      height: 150px;
      width: 25%;
    }
  }

  @media screen and (min-width: 1000px) {
    .technology__item {
      width: 12.5%;
    }
  }

  .work-history__technology {
    margin-bottom: .5em;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: .25em;
    /* gap: .5em; */
  }

  .work-history__item {
    margin-bottom: 1em;
    border-radius: var(--rounded-corners);
    padding: 1em;
    background: var(--mine-shaft);
  }

  .work-history__tenure {
    gap: .75em;
  }

  .work-history__company-name {
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 500px) {
    .work-history__tenure {
      display: flex;
      align-items: baseline;
    }
  }

  .work-history__section {
    margin-bottom: 1em;
  }

  .work-history__responsibilities {
    list-style-type: none;
  }
  
  .work-history__responsibilities > li {
    margin-bottom: .75em;
  }

  .work-history__responsibilities > li:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 500px) {
    .experience__button-container {
      margin-bottom: 2em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
    }
    .experience__button-container h2 {
      margin-bottom: 0;
    }
    .brand-button {
      margin-bottom: 0;
    }
  }
</style>

<Base title="Experience">
  <section>
    <div class="container--max-width container--base-padding">
      <h1 class="page__title">My Experience</h1>
      <ul class="in-page-nav">
        <li><a class="brand-link" href="#technologies">Technical Toolbox</a></li>
        <li><a class="brand-link" href="#workHistory">Work History</a></li>
        <li><a class="brand-link" href="#gitHubProjects">GitHub Projects</a></li>
        <li><a class="brand-link" href="#education">Education</a></li>
      </ul>
      {
       technologies.map(topic => {
          return (
            <h2 id="technologies" class="technology__title">{topic.topic}</h2>
            <p class="technology__tagline">Languages, technologies, and skills I use to build successful projects:</p>
            <ul class="technology__list">
            {topic.languages.map(language => {
              const {icon, technology, yearsExperience} = language
              return (
                <li class="technology__item">
                  <img class="technology__image" src={icon} alt={technology}>
                  <span>{technology}</span>
                </li>
              )
            })}
            </ul>
          )
        })
      }
    </div>
  </section>
  
  <section class="section--dark">
    <div class="container--max-width container--base-padding">
      <div class="experience__button-container">
        <h2 id="workHistory">Work History</h2>
        <a class="brand-button" href={Resume} download>Download Resume</a>
      </div>
      {jobs.map(job => {
        const {jobTitle, companyName, technologyUsed, responsibilities, timeEmployed} = job
        return (
          <div class="work-history__item">
            <div class="work-history__section">
              <h3 class="text--underline">{jobTitle}</h3>
              <div class="work-history__tenure">
                <h4 class="work-history__company-name">{companyName}</h4>
                <span>{timeEmployed}</span>
              </div>
            </div>
            <div class="work-history__section">
              <h5 class="text--underline">Technologies Used:</h5>
              <ul class="work-history__technology">
                {technologyUsed.map(tech => <li>{tech}</li>)}
              </ul>
            </div>
            <div class="work-history__section">
              <h5 class="text--underline">Responsibilities:</h5>
              <ul class="work-history__responsibilities">
                {responsibilities.map(responsibility => <li>{responsibility}</li>)}
              </ul>
            </div>
          </div>
        )
      })}
    </div>
  </section>

  <section>
    <div class="container--max-width container--base-padding">
      <h2 id="gitHubProjects">GitHub Projects</h2>
      <GitHubSection cardTheme="light" />
    </div>
  </section>

  <section class="section--dark">
    <div class="container--max-width container--base-padding">
      <h2 id="education">Education</h2>
      <h3>Rockit Bootcamp</h3>
      <p>Certificate of Completion - Front-End Web Development</p>
      <h3>Collins College</h3>
      <p>Bachelor of Arts - Visual Communication</p>
    </div>
  </section>

  <div class="author-container container--max-width container--base-padding">
    <AuthorFact />
  </div>
</Base>