---
import gitHubPlaceholder from '/images/project-images/github-placeholder.jpg'

const {item, cardTheme} = Astro.props
const theme = cardTheme ? cardTheme : ""
const topicsArray = item.topics
const filteredTopics = topicsArray.filter(value => value !== 'featured-repo')
---

<style>
  .card[data-theme="light"] {
    /* background-color: var(--mine-shaft); */
  }
  .card[data-theme="light"] a {
    /* color: var(--white); */
  }
  .card {
    border-radius: 9px;
    padding: 1em;
    min-width: 200px;
    transition: box-shadow 200ms ease-in-out;
    box-shadow: var(--brand-box-shadow);
  }
  .card:hover {
    box-shadow: var(--brand-box-shadow-hovered);
  }
  .card__image {
    border: 2px solid var(--darkness);
    border-radius: 9px;
    margin-bottom: .75em;
    height: 130px;
    width: 100%;
    object-fit: cover;
  }
  .card__desc {
    font-size: .9rem;
    margin-bottom: .75em;
  }
</style>

<div class="card" data-theme={theme}>
  <h3 class="card__title"><a class="brand-link" target="_blank" href={item.html_url}>{item.name}</a></h3>
  <a href={item.homepage ? item.homepage : item.html_url}><img class="card__image" src={item.featureImage ? item.featureImage: gitHubPlaceholder} alt=""></a>
  <p class="card__desc">{item.description}</p>
  <ul class='topic__row'>
    {filteredTopics.map(topic => <li class='topic__badge'>{topic}</li>)}
  </ul>
  {item.homepage && <a class="card__link brand-link" target="_blank" href={item.homepage}>Visit Site</a><br />}
  <a class="card__link brand-link brand-link--callout" target="_blank" href={item.html_url}>View Code</a>
</div>