---
import Base from './Base.astro'
import AuthorFact from '../components/AuthorFact.astro'
import { readableDate } from '../js/utilities'
const {frontmatter} = Astro.props
const {title, date, featuredImage, description} = frontmatter
---

<style>
.blogPost {
  margin-bottom: 2em;
}
</style>

<Base>
  <div class="container--max-width container--base-padding">
    <article class="blogPost">
      <h1 class="page__title">{title}</h1>
      <p class="articleCard__date">{readableDate(date)}</p>
      <img
        class='blogPost_articleImage'
        src={`./${featuredImage.url}`}
        alt={featuredImage.alt}
      />
      <h2>{description}</h2>
      <slot>Default Blog Content</slot>
    </article>
    <AuthorFact />
  </div>
</Base>